black==24.2.0
click==8.1.7
coverage==7.4.3
flake8==7.0.0
Flask==3.0.2
gunicorn==21.2.0
isort==5.13.2
lightfm==1.17
numpy==1.26.4
packaging==23.2
polars==0.20.15
pydantic==2.6.3
pytest==8.1.1
requests==2.31.0
